{% extends 'admin.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>Articles</h1>
    <a class="btn btn-primary" href="{{ path('app_admin_article_new') }}">Ajouter une article</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Image</th>
                <th>Status</th>
                <th>DateCreated</th>
                <th>DateUpdated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr class="
            {% if article.status.internalName == 'published' %}
                bg-success
            {% elseif article.status.internalName == 'pending'%}
                bg-warning
            {% else %}
                bg-danger
            {% endif %}
            ">
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.image }}</td>
                <td>{{ article.status.label }}</td>
                <td>{{ article.dateCreated ? article.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.dateUpdated ? article.dateUpdated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {% if article.status.internalName == 'draft' or article.status.internalName == 'pending'%}
                        <a href="{{ path('app_admin_article_change_status', {'id': article.id}) }}" class="btn" title="publier">✅</a>    
                    {% else %}
                        <a href="{{ path('app_admin_article_change_status', {'id': article.id}) }}" class="btn"  title="passer en brouillon">❌</a>    
                    {% endif %}

                    {# <a href="" class="btn" title="mettre en attente">☑️</a> #}
                    <a href="{{ path('app_admin_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_admin_article_edit', {'id': article.id}) }}">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
