{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="row">
    <div class="col">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey| trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <h1>Connexion</h1>
        <form action="{{ path('app_security_login')}}" method="post">
            <label for="_username">Email</label>
            <input type="email" class="form-control" value="{{ lastUsername }}" name="_username" id="_username">
            <label for="_password">Mot de passe</label>
            <input type="password" class="form-control" name="_password" id="_password">
            <label for="remember_me">Se souvenir de moi</label>
            <input type="checkbox" class="form-chck-input" name="_remember_me" id="remember_me">
            <input type="submit" class="btn btn-primary mt-2" value="Se Connecter">
            <div class="row">
                <div class="col">
                    <a href="{{ path('app_security_forgotten_password')}}">Mot de passe oublié ?</a>
                </div>
            </div>
            
        </form>
    </div>
</div>

{% endblock %}
