{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<h1>Inscrivez Vous !!!</h1>
<p>Vous aurez acces à des fonctionnalités avancées comme le like</p>
{{ form(form)}}
{% endblock %}
