{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}


{% block body %}

<h1>Les CGU</h1>
{% if isTLDR %}
<p>C'est des CGU, lol</p>
{% else %}
<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cupiditate ad sunt, perspiciatis amet at!
        Aspernatur eligendi, vero placeat aliquam saepe voluptas delectus, doloribus eius sapiente molestias hic
        tempora, sunt necessitatibus aut vitae sed? Tempora at laboriosam hic officia voluptates perferendis ratione ab.
        Quisquam cupiditate ipsum reprehenderit doloremque doloribus facilis cum similique voluptatibus sint quod
        laborum earum, ratione ea perspiciatis, impedit alias sunt consectetur expedita reiciendis tempora fuga
        accusamus ad asperiores. Perspiciatis tempore fugiat provident praesentium deleniti eligendi ad, officia magni
        doloribus, autem ipsam id velit quae possimus reprehenderit enim rem neque tempora quod? Vel doloremque aliquid
        fugit dicta aliquam eum minus error iure similique deserunt iste optio corrupti laborum quia dolore quisquam
        voluptates atque quidem, eius quam itaque. Modi dolorem esse perferendis non corrupti quod laboriosam laudantium
        aspernatur similique, voluptates, eum molestiae in ullam architecto aut, temporibus unde sapiente autem
        reprehenderit pariatur! Necessitatibus velit fugiat tempora qui iste blanditiis! Vel voluptatem, laboriosam rem
        eum officiis dolorem, cupiditate laborum tenetur a veniam eaque. Libero ex assumenda ratione delectus quas
        laudantium modi ipsum, eos, aliquam ipsam cumque rerum aliquid corrupti quod iste optio. Soluta nobis ratione
        assumenda magnam ab, architecto suscipit animi velit incidunt labore doloribus numquam tempora sit
        necessitatibus cum?</p>
    <p>Minima non at, perspiciatis odit quaerat corrupti eaque numquam totam rerum, iure dignissimos aperiam rem? Fuga
        et, nostrum vero iste reprehenderit delectus, vel deserunt nihil velit earum quasi voluptates quisquam,
        voluptatibus ab? Laborum corrupti vel nobis laboriosam libero, corporis repellat eveniet, omnis esse, quae
        fugit. Ab atque aliquam deserunt alias molestias modi, dicta autem neque earum, quisquam illo praesentium quod
        sint. Voluptates natus explicabo harum assumenda illum consequuntur, ipsam esse accusantium voluptatem amet
        dolore ducimus magni possimus modi doloribus doloremque dolorem molestiae adipisci sequi neque, dicta odio ipsum
        blanditiis! Non modi, dolorem totam doloribus dignissimos officia corrupti magnam, voluptatem, ea et facilis
        impedit atque dicta eveniet incidunt quidem eos voluptate alias perspiciatis provident odio ullam autem. Harum
        aperiam totam amet placeat distinctio fuga, illo dolorum veritatis quis expedita consequuntur quaerat, alias
        accusamus perferendis repudiandae consectetur quam praesentium possimus veniam! Omnis iste eos impedit quidem?
        Recusandae voluptates neque provident ad veritatis a reprehenderit culpa sunt quia, mollitia eveniet quaerat
        ullam dolor exercitationem laudantium facilis earum accusantium vitae quis deserunt delectus. Repellendus,
        beatae obcaecati veritatis temporibus iusto rerum et quod dolor id autem quidem iste at labore fuga excepturi
        mollitia. Inventore culpa alias, distinctio odio minus soluta ipsa ut amet veritatis mollitia?</p>
    <p>Molestiae architecto repellendus magni ipsa cumque qui et amet nihil doloribus totam quam minus cupiditate odio,
        ducimus omnis pariatur maxime! Ut dignissimos illo expedita officiis dolores perspiciatis natus quo deserunt
        magnam, quia nam nemo aspernatur laborum blanditiis exercitationem. Vel illum aut cupiditate similique labore
        nobis alias eum fuga obcaecati quis quos reprehenderit voluptatibus officiis ab nam, impedit eos facere,
        dignissimos modi aspernatur distinctio, earum ullam! Provident nulla temporibus dicta ex est veniam earum velit
        magnam. Eius rerum sed repudiandae quidem odio, accusantium ea suscipit quia, beatae pariatur sapiente modi quod
        obcaecati necessitatibus temporibus nulla animi earum facere aliquid perferendis impedit iure amet doloremque!
        Consequatur possimus veritatis magnam eligendi reiciendis, harum culpa earum consequuntur minus. Numquam eius
        minima provident consequatur dolorem repellendus ipsa suscipit doloribus dignissimos neque. Laudantium dolorum
        excepturi accusamus, harum iste maiores, minus corporis vel exercitationem molestias, sequi adipisci quod.
        Beatae nemo id pariatur? Iusto soluta ducimus nihil modi perspiciatis distinctio consectetur, dicta
        exercitationem nam laboriosam doloribus suscipit inventore laborum voluptatibus earum repellendus possimus
        doloremque deserunt! Nihil in quibusdam praesentium magnam, aperiam illo labore tempora eos sunt laborum ratione
        quos repellendus. Voluptate facere temporibus consequuntur ad nostrum, quisquam saepe eveniet, labore voluptatem
        adipisci delectus unde rerum, rem sint ex.</p>
</div>
<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga ab ea rem, quaerat at provident iure
        suscipit quos! Dolore voluptate animi expedita ullam, eligendi architecto quia, fuga totam a nihil beatae quae,
        voluptates tempora. Sint at atque beatae, error esse rem ut accusantium deleniti soluta omnis iste non ab
        architecto asperiores! Illo quaerat commodi, nisi, deserunt fugiat dolores nulla fugit temporibus, nemo itaque
        architecto cupiditate aut libero sequi consequatur nobis omnis consequuntur. Sed, quas. Harum incidunt est
        voluptate praesentium totam illo veniam, a odit qui placeat possimus explicabo dolorem ad sit voluptatem, eum
        asperiores porro, odio mollitia iusto fugit quos officiis repellendus autem. Non aliquam, ipsa incidunt cumque
        facere eaque eos enim est suscipit exercitationem distinctio ea alias! Pariatur asperiores saepe unde fuga fugit
        labore necessitatibus autem maxime assumenda ea aperiam nemo laborum voluptas tenetur expedita, nam incidunt!
        Facere nesciunt minima assumenda. Vel nesciunt unde perspiciatis cumque aliquid quisquam nobis consequatur
        obcaecati. Dignissimos eos rerum expedita quibusdam veritatis nihil suscipit laudantium, fugiat, soluta,
        consectetur consequatur. Assumenda vel fuga eligendi dignissimos architecto distinctio error facilis dolores
        ullam est velit, quas quo, pariatur quasi quisquam obcaecati dolore aut sit eveniet minima voluptatem
        reiciendis. Quas mollitia labore possimus ullam ipsum illum exercitationem.</p>
    <p>Maxime quaerat dolor animi voluptatum quam eligendi harum perferendis, nemo officiis quis reprehenderit officia
        modi blanditiis itaque similique dicta perspiciatis nostrum ullam asperiores beatae autem nulla! Reiciendis
        voluptatibus quaerat, odit aspernatur quae totam fugit assumenda unde explicabo eaque non aliquam ratione saepe
        quasi iusto ullam possimus cupiditate excepturi vero veritatis ea. Aspernatur corporis similique recusandae
        vitae eum dolorum labore, blanditiis nesciunt dignissimos corrupti eveniet illo saepe aut repellendus voluptatum
        harum. Dolore, ipsam amet dolorum ab optio eum minima qui culpa veritatis architecto unde laudantium beatae
        iste. Suscipit culpa numquam nemo expedita obcaecati voluptas dicta similique saepe quidem asperiores quasi
        magnam ducimus amet illum cum, quod consectetur vel, perspiciatis odio animi. Unde nostrum ullam consequatur
        accusamus quis numquam vero repellendus est aspernatur tempore. Maxime sint, officiis, quidem ex excepturi
        voluptate, commodi ut enim ea voluptatum mollitia? Ut alias similique culpa, fugiat fuga, accusantium
        consequuntur autem ipsa placeat architecto cumque expedita velit, dolor possimus? Tenetur distinctio in,
        temporibus voluptatibus esse quae laborum eum eius rem dignissimos dolore accusantium laboriosam quisquam
        numquam quibusdam delectus aliquid ipsum libero vero doloribus. Quidem facere harum omnis, nemo quo quibusdam
        esse mollitia id dignissimos rem neque blanditiis temporibus quam expedita, aliquam commodi. Commodi a quo sit?
        Architecto?</p>
    <p>Iure provident quibusdam harum animi esse possimus dolorum, atque id eos explicabo, repellendus ipsam sapiente
        nulla distinctio dignissimos amet voluptatibus? Tenetur tempora totam perspiciatis nam iusto officia dolor
        magnam obcaecati hic mollitia suscipit sapiente blanditiis, odio debitis praesentium distinctio? Nobis suscipit
        fugiat molestias cupiditate et magni at excepturi perferendis iste? Sunt, blanditiis. Atque dolorum animi, eius
        voluptates deleniti expedita suscipit accusamus delectus, harum labore unde quam rem commodi voluptate veniam,
        ut inventore optio ex eaque fugiat maiores earum ea! Numquam, ex? Placeat odit, earum accusantium tempora iusto
        vitae eveniet unde! Deserunt maxime ea doloremque ratione sequi culpa dolor amet, placeat dolorum temporibus
        quis itaque suscipit odio. Doloremque quia reiciendis in dolorem harum aut incidunt officia debitis? Dolores
        illum laborum libero id quos ea, est vero aliquid blanditiis, ut quo explicabo culpa debitis dicta nesciunt non
        error quasi eum accusantium beatae pariatur sed minima! Reprehenderit nesciunt, illum repudiandae praesentium
        omnis maxime earum voluptates non. Nesciunt quas facere earum veritatis mollitia optio quisquam beatae
        voluptates sunt eos aliquid quibusdam repellendus omnis voluptatem sequi quos laudantium debitis repellat,
        voluptatum totam iure veniam. Magnam in harum aperiam sint quis dolore eligendi? Facilis sit tempora
        exercitationem consectetur, ut odio nostrum mollitia recusandae voluptatum nihil veniam!</p>
</div>
<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae itaque, voluptatem expedita nisi error libero?
        Saepe veniam architecto molestias facilis iste reiciendis nulla corrupti quia labore rerum nesciunt cum,
        suscipit quis necessitatibus illum provident, id deserunt soluta eveniet sit itaque. Consectetur suscipit quae
        architecto ex. Explicabo hic ad aspernatur doloremque libero iusto dicta vitae et, quod unde itaque! Aut ipsum
        maiores sint ut maxime ipsa explicabo? Neque, hic nulla. Porro corrupti vel molestias dignissimos officiis
        reprehenderit magni vitae possimus reiciendis suscipit vero cupiditate, doloremque assumenda rem unde ab ad
        libero saepe, tenetur iure nesciunt dicta dolorem laudantium illo. Nostrum, eligendi, molestias exercitationem
        omnis accusamus, amet asperiores sequi vel eaque facere voluptatum. Explicabo magni ad voluptate nobis
        recusandae quaerat delectus enim nemo cupiditate repellat fuga voluptatem accusamus asperiores nisi dicta,
        necessitatibus ducimus illum. Distinctio a numquam ullam nostrum blanditiis velit ipsam, aspernatur esse libero
        voluptates eos voluptas architecto id dicta porro similique nam eius, sed incidunt commodi quae veritatis, est
        repellat obcaecati? Est harum laboriosam et, aut praesentium soluta adipisci explicabo tenetur fugit officia
        ipsa cupiditate repudiandae quia debitis, cum itaque totam dolore reiciendis vero molestiae ut iste sunt
        similique deleniti? Amet cupiditate officiis doloremque harum veritatis repellat pariatur id debitis.</p>
    <p>Pariatur similique cupiditate ratione quae aliquid labore culpa nisi tempora voluptatibus voluptate, distinctio
        dicta eum minima provident quos. Voluptate enim tenetur quibusdam reiciendis magnam illo similique a mollitia?
        Suscipit iusto odio atque alias ducimus laboriosam voluptate nam, esse reprehenderit nisi doloribus quidem minus
        dolor unde a error recusandae dignissimos, eveniet nobis! Voluptas placeat reiciendis eligendi adipisci ipsum
        illum est, magnam quae possimus at nobis iure deserunt dolorem ad quia accusantium minima nesciunt iste, tenetur
        ducimus quam inventore aliquid rerum perspiciatis. Veniam ullam dignissimos ad aspernatur assumenda obcaecati
        quas vero temporibus distinctio eos. Nesciunt dolorem, eaque voluptatibus consectetur culpa aperiam optio
        obcaecati distinctio soluta blanditiis laboriosam, sequi quos non natus laudantium perspiciatis ipsam dolores
        maxime animi itaque libero corporis illo voluptates eius! Sequi exercitationem amet fugit itaque accusantium,
        architecto in sit ad perferendis at consectetur expedita dolorem quo, consequatur corrupti assumenda provident!
        Facere omnis optio, voluptatibus cupiditate consequatur facilis, laboriosam quia porro odio quis provident sunt.
        Pariatur inventore earum consectetur voluptatem laborum eum, explicabo cumque totam at, nam, perferendis
        necessitatibus tempore magni mollitia incidunt sequi saepe ab distinctio perspiciatis ad praesentium. Ab modi
        incidunt aperiam magni animi enim culpa unde, mollitia, similique blanditiis at minima. Esse repellendus ea
        fugit minima eum.</p>
    <p>Explicabo, doloribus dicta, corrupti ipsam totam ea quo doloremque dolorum id amet molestias maxime repellendus
        consequatur aperiam architecto deserunt illum sunt. Velit consequatur, amet libero repellendus temporibus saepe
        expedita quisquam vitae ipsa porro nisi, necessitatibus adipisci asperiores blanditiis ab, officiis ad tempora!
        Culpa, dolores ea ducimus, optio animi enim similique minima perspiciatis aut possimus aliquam? Nemo in
        inventore molestias, recusandae dolorum totam enim et est, expedita rem vel aliquam, fuga facilis doloremque
        corporis eveniet sed atque blanditiis porro ut veritatis assumenda! Dolorum beatae consequatur maiores quae
        totam amet repellat libero quas suscipit fuga, soluta dolor quod magnam cum unde ut ducimus maxime. Impedit nam
        similique perferendis officia ipsa deleniti repudiandae dolorum consequuntur corporis esse aliquid repellat
        quod, quam iusto perspiciatis exercitationem reprehenderit porro. Recusandae eaque amet officiis maiores,
        asperiores adipisci ad placeat quia sit, est temporibus. Ut maiores necessitatibus, eveniet atque qui illum
        incidunt numquam aut error rerum maxime at nobis repellendus deleniti unde minima ullam distinctio? Tempore
        officiis iure deserunt veniam labore excepturi animi culpa repudiandae molestias explicabo, illum odio,
        reprehenderit aspernatur quae optio quam assumenda, architecto ea recusandae suscipit earum asperiores.
        Voluptates aliquid tenetur, sunt quos distinctio vitae iure rerum eius fugit suscipit libero. Ducimus sit odio
        nam!</p>
</div>
{% endif %}

{% endblock %}