{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon blog{% endblock %}


{% block body %}

<h1>Bienvenue sur mon blog</h1>

{#  Afficher l'age, équivalent à echo ou <?= ?> #}
{{ age }}

{#  execution d'un bloc logique #}
{% if age >= 18 %}
    <div style="background-color:lightblue">
{% else %}
    <div style="background-color:red">

{% endif %}
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto dolor earum aliquam sapiente vel odit laborum nihil quod, repellendus deserunt amet ea iusto aspernatur nam provident voluptas. Labore, voluptate sapiente?</p>
</div>
{% endblock %}
