<form method="post" action="{{ path('app_admin_tagword_delete', {'id': tagword.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tagword.id) }}">
    <button class="btn">Delete</button>
</form>
