{{ form_start(form) }}
{{ form_widget(form.label) }}
<div class="row">
    <div class="col-2 d-flex justify-content-center">{{ form_widget(form.article) }}</div>
</div>


    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
