{% extends 'admin.html.twig' %}

{% block title %}Edit Tagword{% endblock %}

{% block body %}
    <h1>Edit Tagword</h1>

    {{ include('admin_tagword/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_tagword_index') }}">back to list</a>

    {{ include('admin_tagword/_delete_form.html.twig') }}
{% endblock %}
