{% extends 'admin.html.twig' %}

{% block title %}Tagword index{% endblock %}

{% block body %}
    <h1>Tagword index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tagword in tagwords %}
            <tr>
                <td>{{ tagword.id }}</td>
                <td>{{ tagword.label }}</td>
                <td>
                    <a href="{{ path('app_admin_tagword_show', {'id': tagword.id}) }}">show</a>
                    <a href="{{ path('app_admin_tagword_edit', {'id': tagword.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_tagword_new') }}">Create new</a>
{% endblock %}
