{% extends 'admin.html.twig' %}

{% block title %}New Tagword{% endblock %}

{% block body %}
    <h1>Create new Tagword</h1>

    {{ include('admin_tagword/_form.html.twig') }}

    <a href="{{ path('app_admin_tagword_index') }}">back to list</a>
{% endblock %}
