{% extends 'admin.html.twig' %}

{% block title %}Tagword{% endblock %}

{% block body %}
    <h1>Tagword</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tagword.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ tagword.label }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_tagword_index') }}">back to list</a>

    <a href="{{ path('app_admin_tagword_edit', {'id': tagword.id}) }}">edit</a>

    {{ include('admin_tagword/_delete_form.html.twig') }}
{% endblock %}
