{% extends 'base.html.twig' %}

{% block title %}Profil {% endblock %}

{% block body %}

<div class="row ">
    <div class="col d-flex justify-content-center">
        <h2>MAJ Profile de {{ userProfile.user.username }}</h2>
        {{ form(form) }}
    </div>

    <div>
        <fieldset>
            <legend>Gestion Compte</legend>

            <div class="row mb-2">
                <a href="{{path('app_mail_send_register_code', {'mail': app.user.email })}}" class="btn btn-primary">Envoyer un nouveau code de validation</a>
            </div>

            <div class="row mb-2">
                <a href="{{ path('app_security_change_password', {'validationCode': app.user.validationCode}) }}" class="btn btn-primary">Envoyer demande de changement de mot de passe </a>
            </div>

            <div class="row mb-2">
                <a href="" class="btn btn-danger">Suppression Compte</a>
            </div>
        </fieldset>
    </div>
</div>



{% endblock %}