{% extends 'base.html.twig' %}

{% block title %}Profil {% endblock %}

{% block body %}

<div class="row ">
    <div class="col d-flex justify-content-center">
        <!-- FIXME -->
        {% if userProfile.avatar %}
            <img src="{{ vich_uploader_asset(userProfile, 'avatarFile') }}" style="max-width:200px " class="img rounded-circle" alt="avatar {{ userProfile.user.username }}">        
      {% else %}
          <img src="/images/assets/silhouete_img.png" style="max-width:200px" class="img rounded-circle" alt="avatar {{ userProfile.user.username }}">
      {% endif %}

        
    </div>
</div>
<h1 class="col-12 d-flex justify-content-center">Profil de {{ userProfile.user.username }}</h1>

{# si l'utilisateur connecté (app.user) est sur son profil #}
{% if app.user == userProfile.user %}
    <a href="{{ path('app_user_edit_profile', {'id': userProfile.id })}}" class="btn btn-outline-primary">✏</a>
{% endif %}

<div class="row">
    <div class="col-9 d-flex justify-content-center">
        {{ userProfile.biography|raw }}
    </div>
</div>

{% if 'ROLE_AUTHOR' in userProfile.user.roles or 'ROLE_ADMIN' in userProfile.user.roles %}
<section class="row">
    <article class="col">
        <h2>Articles</h2>
        {% if userProfile.user.articles|length > 0 %}
        <!-- Afficher la liste des articles redigés par cet utilisateur -->
        {% for article in userProfile.user.articles %}
        <h4><a href="{{ path('app_article_show',{'id': article.id })}}">{{ article.title }}</a></h4>
        {% endfor %}
        {% else %}
        <p>Pas d'article</p>
        {% endif %}

    </article>

</section>
{% endif %}

{% endblock %}