<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
  
  <link rel="stylesheet" href="{{ asset('css/bootstrap.cyborg.min.css') }}">
  {# Run `composer require symfony/webpack-encore-bundle` to start using
  Symfony UX #} {% block stylesheets %}
  {{
  encore_entry_link_tags("app")
  }}
  {% endblock %} {% block javascripts %}
  {{
  encore_entry_script_tags("app")
  }}
  {% endblock %}
</head>

<body>

 {% include "parts/_main_menu.html.twig" %}

 <div class="container-fluid">

  <div class="row">
    <div class="col-2 bg-dark">
      <h3>Admin</h3>
      <nav>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item btn {% if active == 'article' %}btn-secondary {% else %} btn-outline-secondary {% endif %}  my-2">
            <a href="{{path('app_admin_article_index')}}" class="nav-link">
              Articles
            </a>
          </li>
          <li class="nav-item btn {% if active == 'category' %} btn-secondary {% else %} btn-outline-secondary {% endif %} my-2">
            <a href="{{path('app_admin_category_index')}}" class="nav-link">
              Categories
            </a>
          </li>
          <li class="nav-item btn {% if active == 'tagword' %} btn-secondary {% else %} btn-outline-secondary {% endif %}   my-2 ">
            <a href="{{path('app_admin_tagword_index')}}" class="nav-link">
              Mots-clés
            </a>
          </li>
        </ul>
      </nav>
    </div>
    
    <div class="col">
      {% block body %}{% endblock %}
    
  </div>

  {% block footer %}
  <footer class="nav justify-content-center navbar-dark bg-primary mt-4">
    <p class="text-light">FIM &copy; 2023</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"
    defer></script>

  {% endblock %}
</body>

</html>