<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
  {#
  <link rel="stylesheet" href="./css/bootstrap.pulse.min.css"> #}
  <link rel="stylesheet" href="{{ asset('css/bootstrap.pulse.min.css') }}">
  {# Run `composer require symfony/webpack-encore-bundle` to start using
  Symfony UX #} {% block stylesheets %}
  {{
  encore_entry_link_tags("app")
  }}
  {% endblock %} {% block javascripts %}
  {{
  encore_entry_script_tags("app")
  }}
  {% endblock %}
</head>

<body>

  {% include "parts/_main_menu.html.twig" %}
  
  <div class="container">
    {% block body %}{% endblock %}
  </div>

  {% block footer %}
  <footer class="nav justify-content-center navbar-dark bg-primary mt-4">
    <p class="text-light">FIM &copy; 2023</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"
    defer></script>

  {% endblock %}
</body>

</html>