{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
<section class="articles">
    {% for article in articles %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">écrit le {{ article.dateCreated|date('d/m/Y') }} à {{ article.dateCreated|date('H:i') }}
            dans la categorie <strong>{{ article.category }}</strong></div>
        <div class="content">
            {# {% if article.image %} #}
            <div class="col-12 col-md-6 col-xl-4">
                <img src="{{ asset('images/' ~ article.image) | imagine_filter('my_thumb') }}" class="img-fluid" alt="">
            </div>
            {# {% endif %} #}
            <p>{{ article.content|slice(0,150)|raw }}...</p>
            <a href="{{ path('app_article_show_slug', {'slug': article.slug}) }}" class="btn btn-primary">lire la suite</a>
        </div>
    </article>
    {% endfor %}

</section>
{% endblock %}