{% extends 'base.html.twig' %}

{% block title %}Article - {{ article.title }}{% endblock %}

{% block body %}
<section class="articles">
    <article>
        <h2>{{ article.title }}</h2>
        <h3>par
            <a href="{{ path('app_user_show_profile', {'id': article.author.userProfile.id })}}">
                {{ article.author }}
            </a>
        </h3>
        <div class="metadata">écrit le {{article.dateCreated|date('d/m/Y') }} à {{article.dateCreated|date('H') ~ 'h' ~
            article.dateCreated|date('i')}} dans la categorie <strong>{{ article.category }}</strong>
            {% if app.user == article.author %}
            <a class="btn btn-primary" href="{{ path('app_article_edit', {'id': article.id }) }}">✏</a>
            {% endif %}

        </div>
        {% if article.image %}
        <div class="col-12 col-md-6 col-xl-4">
            <img src="{{ asset('images/' ~ article.image) | imagine_filter('my_full_watermark') }}" class="img-fluid"
                alt="">
        </div>
        {% endif %}
        <div class="content">
            <p>{{ article.content|raw }}</p>
        </div>
    </article>
    <hr>
    <section>
        <h2>commentaires</h2>
        {# {{ article.comments[0].content }} #}
        {{ form(commentForm) }}
        {% if article.comments|length > 0 %}
            {% for comment in article.comments %}
            <div class="row">
                <div class="col border border-dark">
                    <h3>{{ comment.author }} - {{ comment.dateCreated|date('d/m/Y H:i')}}</h3>
                    <p>
                        {{ comment.content }}
                    </p>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Pas encore de commentaire</p>
        {% endif %}
    </section>
</section>
{% endblock %}