{% extends 'base.html.twig' %}

{% block title %}Mettre à jour un article{% endblock %}

{% block body %}
<section class="articles">
    <h1>Mettre à jour un article</h1>
    <div>
       {{ form(form) }}

    </div>
    
</section>
{% endblock %}
