{% extends 'base.html.twig' %}

{% block title %}Ajouter un article{% endblock %}

{% block body %}
<section class="articles">
    <h1>Ajouter un article</h1>
    <div>
       {{ form(articleForm) }}

    </div>
    
</section>
{% endblock %}
