{% extends 'base.html.twig' %}

{% block title %}Ajouter un article{% endblock %}

{% block body %}
<section class="articles">
    <h1>Ajouter un article</h1>
    <div>
        <form action="#" method="post" class="form-group">
            <label for="title">Titre</label>
            <input type="text" name="title" id="title" class="form-control">
            
            <label for="content">contenu</label>
            <textarea name="content" id="content" cols="30" rows="10" class="form-control"></textarea>

            <label for="image">Image</label>
            <input type="text" name="image" id="image" class="form-control">

            <input type="submit" value="Ajouter" class="btn btn-primary">
        </form>

    </div>
    
</section>
{% endblock %}
