{% extends 'mail.html.twig' %}

{% block body %}
    <style>
        .body-mail{
            border: 1px solid red;
            width: 600px;
            margin: 0 auto;
        }
        .mail-part{
            color: blue;
            background-color: bisque;
        }
    </style>
    <div class="body-mail">
        <h2>Newsletter</h2>
        <section class="mail-part">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quas quis modi dolorum recusandae, neque repellat dolorem aliquid delectus doloribus ut ipsum. Eaque cupiditate veniam, porro repellat odit nemo animi!</p>
            <p>{{ text|raw }}</p>
        </section>

        <section class="mail-part">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quas quis modi dolorum recusandae, neque repellat dolorem aliquid delectus doloribus ut ipsum. Eaque cupiditate veniam, porro repellat odit nemo animi!</p>
            <p>{{ text|raw }}</p>
        </section>
    </div>

{% endblock %}
