<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('app_main')}}">Accueil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_article')}}">Articles</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_cgu')}}">CGU</a>
        </li>


        {% if app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_article_new')}}">Ajouter un Article</a>
        </li>
      </ul>
      <ul class="navbar-nav me">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_security_logout')}}">Se déconnecter</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_user_show_profile',{'id': app.user.userProfile.id} )}}">
            
            {% if app.user.userProfile.avatar %}
              <img src="{{ vich_uploader_asset(app.user.userProfile, 'avatarFile') }}" style="max-width:30px" class="img rounded-circle" alt="avatar {{ app.user.username }}">

             
            {% else %}
              
              <img src="/images/assets/silhouete_img.png" style="max-width:30px" class="img rounded-circle" alt="avatar {{ app.user.username }}">
            {% endif %}
            
          </a>
        </li>

        {% else %}
        </ul>
        <ul class="navbar-nav me">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_security_login')}}">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_security_register')}}">S'inscrire</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{# affichage des messages flash #}
{% for label, messages in app.flashes %}
{# Il parcours les messages classer par type (success, danger, etc.) #}
{% for message in messages %}
{# Puis le message #}
<div class="alert alert-dismissible alert-{{ label }}">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  {{ message|raw }}
</div>
{% endfor %}
{% endfor %}